geographiclib==1.52
geopy==2.2.0
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
jsonschema==3.2.0
numpy==1.21.2
pyrsistent==0.18.0
PySimpleGUI==4.46.0
PyYAML==5.4.1
requests==2.26.0
requests-cache==0.7.4
six==1.16.0
typing-extensions==3.10.0.2
url-normalize==1.4.3
urllib3==1.26.6
xmlschema==1.7.0
zipp==3.5.0
google-api-python-client==2.0
oauth2client==3.0.0
google==3.0.0
